<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <!-- HEAD -->
    <head>
        <title>AddLesson</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="../static/css/home.css" th:href="@{/css/home.css}" rel="stylesheet" />
        <link href="../static/css/lesson-add.css" th:href="@{/css/lesson-add.css}" rel="stylesheet" />
    </head>

    <body>
        <!--HEADER-->
        <header th:insert="blocks/header :: header"></header>
        <!--NAVIGATION-->
        <nav th:insert="blocks/nav :: nav"></nav>

        <!--CONTENT-->
        <article class="addArticle">
            <section class="addSection">
                <form action="/lesson/add" method="post">
                    <div class="addDiv">
                        <h1>Добавление урока</h1><br>
                        <input type="text" name="title" placeholder="Введите название урока" class="titleInput"><br>
                        <input type="text" name="anons" placeholder="Введите анонс урока" class="anonsInput"><br>
                        <textarea name="full_text" placeholder="Введите полный текст урока" class="textAreaInput"></textarea><br>
                        <button type="submit" class="addButton">Добавить урок</button><br>
                    </div>
                </form>
            </section>
        </article>

        <!--FOOTER-->
        <footer th:insert="blocks/footer :: footer"></footer>
    </body>
</html>