<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!-- HEAD -->
    <head>
        <title th:text="${title}"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="../static/css/home.css" th:href="@{/css/home.css}" rel="stylesheet" />
        <link href="../static/css/post-edit.css" th:href="@{/css/post-edit.css}" rel="stylesheet" />
    </head>

    <body>
        <!--HEADER-->
        <header th:insert="blocks/header :: header"></header>
        <!--NAVIGATION-->
        <nav th:insert="blocks/nav :: nav"></nav>

        <!--CONTENT-->
        <article class="editArticle">
            <section class="editSection">
                <form method="post">
                    <div th:each="el:${post}" class="editDiv">
                        <h1>Редактирование поста</h1><br>
                        <input type="text" th:value="${el.title}" name="title" placeholder="Название поста" class="editTitleInput"><br>
                        <input type="text" th:value="${el.anons}" name="anons" placeholder="Анонс поста" class="editAnonsInput"><br>
                        <textarea name="full_text" placeholder="Текст поста" class="editTextAreaInput" th:text="${el.full_text}"/><br>
                        <button type="submit" class="updateButton">Обновить</button><br>
                    </div>
                </form>
            </section>
        </article>

        <!--FOOTER-->
        <footer th:insert="blocks/footer :: footer"></footer>
    </body>
</html>